@charset "UTF-8";
@import "https://use.fontawesome.com/releases/v5.7.0/css/all.css";
html, body, ul, ol {
  margin: 0px;
  padding: 0px; }

/* Note x-small - Mobile Portrait default (<576px) - is the default option, so no media query is required */
/********************************/
/********* ALL SECTIONS *********/
/********************************/
:root {
  --off-black: #111111;
  --footer-bg: #444444;
  --off-white: #f0f0f0; }

html {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-family: "Roboto", san-serif;
  width: 100vw;
  font-size: 18px; }

section {
  padding: 0 0 30px 0;
  width: 100vw;
  min-height: 100vh; }
  section .arrow-down {
    margin: auto;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid var(--off-white); }

section:nth-of-type(2n+3) {
  background-color: var(--off-white); }
  section:nth-of-type(2n+3) .arrow-down {
    border-top: 40px solid #ffffff; }

section::after {
  width: 100vw;
  height: 30px;
  clip-path: polygon(45% 0, 55% 0, 50% 30px); }

h2.section-heading {
  font-size: 4rem;
  font-weight: 600;
  background: linear-gradient(to left, #0033a8, #c20588);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding: 40px 0 20px 0; }

h3.section-subheading {
  font-size: 3.2rem;
  font-family: "Futura";
  color: #3aa3dd; }

h4 {
  font-size: 2.8rem;
  font-weight: 450; }

h5 {
  font-size: 2.5rem;
  font-weight: 400; }

strong, li, p, span {
  font-size: 1.8rem; }

.row {
  margin: 0px !important; }

/********************************/
/******* PROFILE SECTION ********/
/********************************/
#_profile {
  padding-bottom: 80px; }

.profile-text {
  font-size: 2.5rem; }

/* Small - Mobile Landscape (≥576px) */
/* Medium - ipads (≥768px)*/
@media (min-width: 768px) {
  section {
    width: 80vw; }
  div.container {
    padding-right: 60px; } }

/* Large - laptops (≥992px) */
@media (min-width: 992px) {
  html {
    font-size: 75%; } }

/* Extra large devices - large desktops (≥1200px) */
/********************************/
/********* HERO SECTION *********/
/********************************/
#hero {
  position: relative;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center; }

#particles-js {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#0f1e37, #1e415a);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

/****** HERO - Title ******/
#title-box {
  position: absolute;
  top: 30vh;
  padding: 20px;
  text-align: center;
  width: 80vw;
  max-width: 800px; }

#title {
  -webkit-animation: fill-in 2s ease forwards 4s;
  animation: fill-in 2s ease forwards 4s; }

@-webkit-keyframes fill-in {
  0% {
    fill: transparent; }
  100% {
    fill: var(--off-black); } }

@keyframes fill-in {
  0% {
    fill: transparent; }
  100% {
    fill: var(--off-black); } }

@-webkit-keyframes drawMe {
  to {
    stroke-dashoffset: 0; } }

@keyframes drawMe {
  to {
    stroke-dashoffset: 0; } }

#title > path:nth-of-type(1),
#title > path:nth-of-type(4),
#title > path:nth-of-type(8) {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: 6s drawMe ease-in-out forwards 1.5s; }

#title > path:nth-of-type(3),
#title > path:nth-of-type(5),
#title > path:nth-of-type(9) {
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: 8s drawMe linear forwards 1s; }

#title > path:nth-of-type(6),
#title > path:nth-of-type(10) {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: 10s drawMe linear forwards; }

#title > path:nth-of-type(2),
#title > path:nth-of-type(7) {
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  animation: 7s drawMe linear forwards; }

/****** HERO - Arrow ******/
#down-arrow {
  font-size: 3em;
  position: absolute;
  display: block;
  bottom: 50px;
  padding: 25px 10px;
  color: var(--off-black);
  animation: up-down 2000ms ease-in-out infinite;
  -webkit-animation: up-down 2000ms ease-in-out infinite; }

#down-arrow:hover {
  cursor: pointer; }

@-webkit-keyframes up-down {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); }
  50% {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px); }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@keyframes up-down {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); }
  50% {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px); }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

/********************************/
/******** NAVBAR SECTION ********/
/********************************/
.navbar-toggler {
  position: absolute;
  right: 0; }

.navbar-collapse {
  margin-top: 34px; }

.navbar {
  display: block;
  float: right;
  padding: 0px;
  margin: 20px 20px 0px 0px;
  top: 20px; }

.navbar-nav {
  position: absolute;
  right: 0; }
  .navbar-nav a {
    height: 60px;
    width: 120px;
    padding-top: 15px;
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem; }
  .navbar-nav a:hover, .navbar-nav a:focus, .navbar-nav li {
    color: #999999; }
  .navbar-nav li:nth-of-type(6) {
    margin-top: 10px;
    border-radius: 0.25em;
    height: 85px; }
  .navbar-nav span {
    font-size: 1.6rem; }

@media screen and (min-width: 992px) {
  .navbar-nav {
    position: static; }
  .navbar-collapse {
    margin-top: 0; } }

/********************************/
/****** EDUCATION SECTION *******/
/********************************/
#education {
  margin: 0 auto; }

.education-card {
  display: block;
  text-align: center;
  max-width: 600px;
  margin: auto; }
  .education-card img {
    width: 135px;
    height: 135px;
    border-radius: 25px; }
  .education-card article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 20px 0; }
    .education-card article .title {
      font-size: 3rem;
      margin: 0;
      width: 100%; }
    .education-card article .subTitle {
      font-size: 2.4rem;
      padding: 10px 0;
      margin: 0;
      width: 100%; }
      .education-card article .subTitle ul, .education-card article .subTitle li {
        list-style-type: none;
        font-size: 2.4rem; }

@media screen and (min-width: 600px) {
  .education-card {
    display: grid;
    grid-template-columns: 135px auto;
    align-items: center;
    padding: 20px 20px 20px 50px; }
    .education-card article {
      margin-left: 20px;
      text-align: left;
      padding: 0; } }

@media screen and (min-width: 768px) {
  .education-card {
    grid-template-columns: 150px auto; } }

@media screen and (min-width: 1200px) {
  .education-list {
    display: flex;
    flex-wrap: wrap; }
    .education-list .education-card {
      width: 50%;
      padding: 20px; }
      .education-list .education-card article .title {
        font-size: 30px; }
      .education-list .education-card article .subTitle, .education-list .education-card article .subTitle li {
        font-size: 24px; }
      .education-list .education-card img {
        margin: 10px auto; } }

/********************************/
/****** ABILITIES SECTION *******/
/********************************/
.skill-group h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600; }

.skill-group .row {
  justify-content: center;
  align-items: center;
  padding-bottom: 40px; }
  .skill-group .row .logo {
    text-align: center;
    display: inline-block;
    margin: 0.2em;
    width: 115px;
    height: 115px; }
    .skill-group .row .logo img {
      height: 4em; }
    .skill-group .row .logo i {
      font-size: 4em;
      line-height: 64px; }
    .skill-group .row .logo strong {
      display: block;
      font-size: 1em;
      padding-top: 5px; }

@media (min-width: 992px) {
  .logo {
    width: 120px !important; }
    .logo strong {
      visibility: visible !important;
      text-align: center;
      display: block;
      margin-top: .5em; }
  .fa-icons {
    padding-bottom: 0px !important; }
    .fa-icons div.logo {
      width: 150px !important; }
    .fa-icons div:nth-of-type(1) i, .fa-icons div:nth-of-type(6) i {
      color: #ff0000; }
    .fa-icons div:nth-of-type(2) i, .fa-icons div:nth-of-type(7) i {
      color: #ff6600; }
    .fa-icons div:nth-of-type(3) i, .fa-icons div:nth-of-type(8) i {
      color: #ff3399; }
    .fa-icons div:nth-of-type(4) i, .fa-icons div:nth-of-type(9) i {
      color: #cc00ff; }
    .fa-icons div:nth-of-type(5) i, .fa-icons div:nth-of-type(10) i {
      color: #009900; }
  .grayscale {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out; }
  .grayscale:hover {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0); } }

/********************************/
/******* PROJECTS SECTION *******/
/********************************/
/* MOBILE only - Flip Card */
.flip-container {
  position: relative;
  margin: 20px auto;
  width: 250px;
  height: 350px;
  z-index: 1; }

.flip-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 1s; }

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.back-face {
  display: block;
  padding: 10px;
  font-size: 12pt;
  color: var(--off-white);
  text-align: center;
  background-color: #835A99; }

.flip-container:hover .flip-card, .back-face {
  transform: rotateY(180deg); }

.project-info {
  position: relative;
  text-align: center;
  width: 100%; }
  .project-info h3 {
    padding: 20px 0;
    font-size: 2.4rem; }
  .project-info button {
    position: absolute;
    left: 25%;
    right: 25%;
    width: 50%;
    bottom: 20px;
    border: 2px solid var(--off-black);
    border-radius: 20px;
    padding: 12px; }

/* IPAD | DESKTOP screens */
@media screen and (min-width: 768px) {
  .project > a {
    margin: 20px 0;
    text-decoration: none;
    color: var(--off-black);
    transition: all 800ms;
    box-shadow: none;
    padding: 20px 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    grid-template-areas: "logo description"; }
    .project > a .project-logo {
      grid-area: logo; }
    .project > a .project-info {
      grid-area: description;
      height: 325px;
      padding: 0 20px; }
      .project > a .project-info h3 {
        padding-top: 0;
        text-shadow: 1px 1px #aaa; }
  .project:hover > a {
    transform: translate(-5px, -4px);
    box-shadow: 5px 4px 12px 0px var(--off-black); }
  .project:nth-of-type(2) > a {
    grid-template-areas: "description logo";
    margin: 50px 0; }
  .project:nth-of-type(2):hover > a {
    transform: translate(5px, -4px);
    box-shadow: -5px 4px 12px 0px var(--off-black); }
  .project-btn {
    position: static;
    margin: 30px auto 0 auto;
    font-size: 1.2em;
    padding: 5px; }
  .project-btn::before {
    content: '';
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: linear-gradient(to left, #0033a8, #c20588);
    border-radius: 20px;
    transition: 800ms;
    opacity: 0;
    z-index: 3; }
  .project-btn:hover::before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.6; } }

/********************************/
/******** FOOTER SECTION ********/
/********************************/
#footer {
  background-color: var(--footer-bg); }

#footer .row {
  display: flex;
  justify-content: space-around;
  padding: 40px 0; }

.contact-link {
  display: flex;
  text-decoration: none !important;
  color: var(--off-white); }
  .contact-link i {
    font-size: 3em;
    font-weight: 400; }
  .contact-link span {
    display: none; }

/* Large - ipads / laptops (≥600px) */
@media screen and (min-width: 600px) {
  .contact-link i, .contact-link img, .contact-link span {
    transition: all 800ms ease-in-out; }
  .contact-link img {
    filter: contrast(150%); }
  .contact-link span {
    display: inline;
    font-size: 2em;
    padding-left: 10px; }
  .contact-link:hover i, .contact-link:hover img {
    color: var(--off-white);
    text-shadow: 0px 0px 1px var(--off-white), 0 0 5px var(--off-black);
    -webkit-transform: rotate(360deg);
    -moz-transfrom: rotate(360deg);
    -ms-transfrom: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  .contact-link:hover img {
    box-shadow: 0px 0px 1px var(--off-white), 0 0 5px var(--off-black); }
  .contact-link:hover span {
    text-shadow: 0px 0px 1px var(--off-white), 0 0 5px var(--off-black); } }

/*!
 * animate.css -https://daneden.github.io/animate.css/
 * Version - 3.7.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2019 Daniel Eden
 */
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@media (prefers-reduced-motion: reduce), (print) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important; } }
