// My custom code

/* Note x-small - Mobile Portrait default (<576px) - is the default option, so no media query is required */

/********************************/
/********* ALL SECTIONS *********/
/********************************/
$purple-color: #400080;
:root {
	--title-black: #111111;
}
html {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 2em;
}
*, *::before, *::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body { font-family: "Roboto", san-serif; width: 100vw; font-size: 18px; }
section { padding: 30px 0px; width: 100vw; background-color: #f0f0f0; min-height: 100vh; }
h1 { font-size: 40; }
h2.section-heading { font-size: 36; color:royalblue; text-align: center; padding: 20px 0px; }
h3.section-subheading { font-size: 32px; font-family: "Futura"; color: #3aa3dd; }
h4 { font-size: 28; font-weight: 450; }
h5 { font-size: 25; font-weight: 400; }
strong, li, p, span { font-size: 18px; }
.row { margin: 0px !important; }

/********************************/
/******** NAVBAR SECTION ********/
/********************************/
$navMargTop: 20px;
nav.navbar { display: block; float: right; padding:0px; margin: $navMargTop 20px 0px 0px;
	div {
		ul.navbar-nav {
			li {
				a { height: 60px; width:120px; padding-top: 15px; text-align: center; font-weight: 600; color: #FFFFFF; }
				a:hover, li.nav-item a:focus { color: #999999; }
			}
			li:nth-of-type(6) { margin-top: 10px; border-radius: 0.25em; height: 85px; }
		}
	}
}
nav.sticky-top { top: 20px; }



/********************************/
/******* PROFILE SECTION ********/
/********************************/

#_profile { background-color: #fafafa; padding-bottom: 80px; }
.profile-text { font-size: 1.5em; }



/********************************/
/****** ABILITIES SECTION *******/
/********************************/

.skill-group {
	h3 { text-align: center; }
	.row {
		justify-content: center;
		align-items: center;
		padding-bottom: 40px;
		.logo {
			text-align: center;
			display: inline-block;
			margin: 0.2em;
			width: 115px;
			height: 115px;
			img { height: 4em; }
			i { font-size: 4em; line-height: 64px; }
			strong { display: block; font-size: 1em; padding-top: 5px; }
		}
	}
}

/********************************/
/******* PROJECTS SECTION *******/
/********************************/
.card { 
	box-shadow: 1px 2px 8px #aaa;
	&:hover { transform: translate(1px, 2px); -webkit-transform: translate(1px, 2px); box-shadow: none; }
	.card-img-overlay { margin: 0px; padding: 0px;
		i { position: absolute; top: 0px; right: 0px; font-size: 2em; padding: 10px !important; background-color: green; padding: 5px; }
		.text-overlay { background-size: cover; position: absolute !important; top: 0px; left: 0px; padding: 10%;
			.card-title { opacity: 0%; }
			hr { border-width: 5px; border-color: #000000; opacity: 0%; }
			.card-text { opacity: 0%; }
		}
	}
}


/* Small - Mobile Landscape (≥576px) */
@media (min-width: 576px) {

}

/* Medium - ipads (≥768px)*/
@media (min-width: 768px) {
	section { width: 80vw; }
	div.container { padding-right: 120px; }
	h1 { font-size: 4em; }
	h2.section-heading { font-size: 3.5em; }
	h3.section-subheading { font-size: 3.0em; }
	h4 { font-size: 1.8em; }
	h5 { font-size: 1.4em; }

	//Projects
	.card-deck { margin: 30px; }
}

/* Large - laptops (≥992px) */
@media (min-width: 992px) {
	//Abilities
	.logo { 
		width: 120px !important; 
		strong {
			visibility: visible !important; 
			text-align: center;
			display: block;
			margin-top: .5em;
		}
	}
	$color1: #ff0000;
	$color2: #ff6600;
	$color3: #ff3399;
	$color4: #cc00ff;
	$color5: #009900;
	.fa-icons {
		padding-bottom: 0px !important;
		div.logo { width: 150px !important; }
		div:nth-of-type(1), div:nth-of-type(6) { i { color: $color1; } }
		div:nth-of-type(2), div:nth-of-type(7) { i { color: $color2; } }
		div:nth-of-type(3), div:nth-of-type(8) { i { color: $color3; } }
		div:nth-of-type(4), div:nth-of-type(9) { i { color: $color4; } }
		div:nth-of-type(5), div:nth-of-type(10) { i { color: $color5; } }
	}
	.grayscale {
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%);
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
	}
	.grayscale:hover {
		-webkit-filter: grayscale(0);
		-moz-filter: grayscale(0);
		-ms-filter: grayscale(0);
		-o-filter: grayscale(0);
		filter: grayscale(0);
	}

	// Projects
	.card-img-overlay:hover { background: aquamarine; 
		i { opacity: 100%; }
		img { opacity: 20%; }
		.card-body { opacity: 20%; }
		.card-footer { opacity: 20%; }
		.text-overlay {
			.card-title { opacity: 100%; font-weight: 800;}
			hr { opacity: 50%;
				-webkit-animation: slideInLeft 1s;
				-moz-animation: slideInLeft 1s;
				-MS-animation: slideInLeft 1s;
				-o-animation: slideInLeft 1s;
				animation: slideInLeft 1s;	
			}
			.card-text { opacity: 100%; font-weight: 600;
				-webkit-animation: slideInRight 1s;
				-moz-animation: slideInRight 1s;
				-MS-animation: slideInRight 1s;
				-o-animation: slideInRight 1s;
				animation: slideInRight 1s;
			}
		}
	}

}

/* Extra large devices - large desktops (≥1200px) */
@media (min-width: 1200px) {

}