/********************************/
/******** FOOTER SECTION ********/
/********************************/
#footer { background-color: #444; }

#footer .row {
	display: flex;
	justify-content: space-around;
	padding: 40px 0;
}
.footer-link {
	display: flex;
	text-decoration: none !important;
	color: white;
	i { font-size: 3em; font-weight: 400; }
	span { display: none; }
}


/* Large - laptops (≥992px) */
@media screen and (min-width: 600px) {
	.footer-link {
		i {
			-webkit-transform: scale(1.1);
			-moz-transfrom: scale(1.1);
			-ms-transfrom: scale(1.1);
			-o-transform: scale(1.1);
			transform: scale(1.1);
		}
		span { display: inline; font-size: 2em; padding-left: 10px;}
	}
}