/********************************/
/******** FOOTER SECTION ********/
/********************************/

#footer { background-color: var(--footer-bg); }

#footer .row {
	display: flex;
	justify-content: space-around;
	padding: 40px 0;
}
.contact-link {
	display: flex;
	text-decoration: none !important;
	color: var(--off-white);
	i { font-size: 3em; font-weight: 400; }
	span { display: none; }
}


/* Large - ipads / laptops (≥600px) */
@media screen and (min-width: 600px) {
	.contact-link {
		i, img, span { transition: all 800ms ease-in-out; }
		img { filter: contrast(150%); }
		span { display: inline; font-size: 2em; padding-left: 10px;}
	}
	.contact-link:hover {
		i, img {
			color: var(--off-white);
			text-shadow: 0px 0px 1px var(--off-white), 0 0 5px var(--off-black);
			-webkit-transform: rotate(360deg);
			-moz-transfrom: rotate(360deg);
			-ms-transfrom: rotate(360deg);
			-o-transform: rotate(360deg);
			transform: rotate(360deg);		
		}
		img { 
			box-shadow: 0px 0px 1px var(--off-white), 0 0 5px var(--off-black);
		}

		span { text-shadow: 0px 0px 1px var(--off-white), 0 0 5px var(--off-black); }
	}
}