// My custom code

/* Note x-small - Mobile Portrait default (<576px) - is the default option, so no media query is required */

/********************************/
/********* ALL SECTIONS *********/
/********************************/
:root {
	--off-black: #111111;
	--footer-bg: #444444;
	--off-white: #f0f0f0;
}
html {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
}
*, *::before, *::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body { font-family: "Roboto", san-serif; width: 100vw; font-size: 18px; }
section {
	padding: 0 0 30px 0;
	width: 100vw;
	min-height: 100vh;
	.arrow-down {
		margin: auto;
		width: 0; 
		height: 0; 
		border-left: 40px solid transparent;
		border-right: 40px solid transparent;
		border-top: 40px solid var(--off-white);
	}
}
section:nth-of-type(2n+3) {
	background-color: var(--off-white);
	.arrow-down {
		border-top: 40px solid #ffffff;
	}
}
section::after {
	width: 100vw;
	height: 30px;
	clip-path: polygon(45% 0, 55% 0, 50% 30px);
}

// section:nth-of-type(2n+3) {
// 	min-height: 120vh;
// 	background-color: burlywood;
// 	clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
// 	padding: 10vh 0;
// }
// section:nth-last-of-type(2) {
// 	clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
// }

h2.section-heading {
	font-size: 4rem;
	font-weight: 600;
	background: linear-gradient(to left, #0033a8, #c20588);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	text-align: center;
	padding: 40px 0 20px 0;
}
h3.section-subheading { font-size: 3.2rem; font-family: "Futura"; color: #3aa3dd; }
h4 { font-size: 2.8rem; font-weight: 450; }
h5 { font-size: 2.5rem; font-weight: 400; }
strong, li, p, span { font-size: 1.8rem; }
.row { margin: 0px !important; }



/********************************/
/******* PROFILE SECTION ********/
/********************************/

#_profile { padding-bottom: 80px; }
.profile-text { font-size: 2.5rem; }




/* Small - Mobile Landscape (≥576px) */
@media (min-width: 576px) {

}

/* Medium - ipads (≥768px)*/
@media (min-width: 768px) {
	// html { font-size: 60%; }
	section { width: 80vw; }
	div.container { padding-right: 120px; }
}

/* Large - laptops (≥992px) */
@media (min-width: 992px) {
	html { font-size: 75%; }


}

/* Extra large devices - large desktops (≥1200px) */
@media (min-width: 1200px) {

}