/********************************/
/********* HERO SECTION *********/
/********************************/
#hero {
	position: relative;
	display: flex;
	padding: 0;
	align-items: center;
	justify-content: center;
}
#particles-js {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(rgb(15, 30, 55), rgb(30, 65, 90));
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/****** HERO - Title ******/
#title-box {
	position: absolute;
	top: 30vh;
	padding: 20px;
	text-align: center;
	width: 80vw;
	max-width: 800px;
	pointer-events: none;
}
// fill-in animation
#title {
	-webkit-animation: fill-in 2s ease forwards 4s;
  animation: fill-in 2s ease forwards 4s;
}
@-webkit-keyframes fill-in {
	0% { fill: transparent; }
	100% { fill: var(--off-black); }
}
@keyframes fill-in {
	0% { fill: transparent; }
	100% { fill: var(--off-black); }
}
// drawMe animation
@-webkit-keyframes drawMe {
	to { stroke-dashoffset: 0; }
}
@keyframes drawMe {
	to { stroke-dashoffset: 0; }
}
#title>path:nth-of-type(1),
#title>path:nth-of-type(4),
#title>path:nth-of-type(8) {
	stroke-dasharray: 400;
	stroke-dashoffset: 400;
	animation: 6s drawMe ease-in-out forwards 1.5s;
}
#title>path:nth-of-type(3),
#title>path:nth-of-type(5),
#title>path:nth-of-type(9) {
	stroke-dasharray: 450;
	stroke-dashoffset: 450;
	animation: 8s drawMe linear forwards 1s;
}
#title>path:nth-of-type(6),
#title>path:nth-of-type(10) {
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	animation: 10s drawMe linear forwards;
}
#title>path:nth-of-type(2),
#title>path:nth-of-type(7) {
	stroke-dasharray: 360;
	stroke-dashoffset: 360;
	animation: 7s drawMe linear forwards;
}
/****** HERO - Arrow ******/
#down-arrow {
	font-size: 3em;
	position: absolute;
	display: block;
	bottom: 50px;
	padding: 25px 10px;
	color: var(--off-black);
	animation: up-down 2000ms ease-in-out infinite;
	-webkit-animation: up-down 2000ms ease-in-out infinite;
}
#down-arrow:hover {
	cursor: pointer;
}
@-webkit-keyframes up-down {
	0% { transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); }
	50% { transform: translateY(-50px); -webkit-transform: translateY(-50px); -moz-transform: translateY(-50px); -ms-transform: translateY(-50px); -o-transform: translateY(-50px); }
	100% { transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); }
}
@keyframes up-down {
	0% { transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); }
	50% { transform: translateY(-50px); -webkit-transform: translateY(-50px); -moz-transform: translateY(-50px); -ms-transform: translateY(-50px); -o-transform: translateY(-50px); }
	100% { transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); }
}