/********************************/
/******** NAVBAR SECTION ********/
/********************************/

.navbar-toggler {
	position: absolute;
	right: 0;
}
.navbar-collapse {
	margin-top: 34px;
}
.navbar {
	display: block;
	float: right;
	padding:0px;
	margin: 20px 20px 0px 0px;
	top: 20px;
}
.navbar-nav {
	position: fixed;
	a {
		height: 60px;
		width: 120px;
		padding-top: 15px;
		text-align: center;
		font-weight: 600;
		font-size: 1.6rem;
	}
	a:hover, a:focus, li {
		color: #999999;
	}
	li:nth-of-type(6) {
		margin-top: 10px;
		border-radius: 0.25em;
		height: 85px;
	}
	span {
		font-size: 1.6rem;
	}
}